<%= form_with(model: buddy) do |form| %>
  <% if buddy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buddy.errors.count, "error") %> prohibited this buddy from being saved:</h2>

      <ul>
        <% buddy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :adoptable %>
    <%= form.check_box :adoptable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
