<p id="notice"><%= notice %></p>

<h1>Buddies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Color</th>
      <th>Age</th>
      <th>Adoptable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buddies.each do |buddy| %>
      <tr>
        <td><%= buddy.name %></td>
        <td><%= buddy.species %></td>
        <td><%= buddy.color %></td>
        <td><%= buddy.age %></td>
        <td><%= buddy.adoptable %></td>
        <td><%= link_to 'Show', buddy %></td>
        <td><%= link_to 'Edit', edit_buddy_path(buddy) %></td>
        <td><%= link_to 'Destroy', buddy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buddy', new_buddy_path %>
